$containerMaxWidth: 1470px;
$gridGutter: 23px;
$rowLength: 4;
$colorText: #333;
$colorTextLight: #777;
$colorBright: #fff;
$fontFamilyMain: Geometria;
$fontFamilySmall: Circe;
$red: #c73d00;
$black: #000;
$green: #89a60f;
$lightGray: #fafafa;