$containerMaxWidth: 1470px;
$gridGutter: 23px;
$rowLength: 4;
$colorText: #333;
$colorTextLight: #777;
$colorBright: #fff;
$fontFamilyMain: Geometria;
$fontFamilySmall: Circe;
$red: #f0506e;
// $red: #c73d00;
$black: #000;
$lightBlack: #222;
$green: #32d296;
// $green: #89a60f;
$lightGray: #fafafa;
$blue: #1e87f0;
$dark: #777;
$grey: #555;